@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700);

/* Typografi ikoner Glyphicons Halflings */
@font-face {
  font-family: 'Glyphicons Halflings';
  src:  url('../fonts/glyphicons-halflings-regular.eot');
  src:  url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* html höjd 100 procent */
html {
    height: 100%
}

/* Attributer för body */
body {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  height: 100%;
  overflow-x: hidden;
  
}

p.padding-left {
  padding-left: 15px;
  padding-top: 5px;
}

/* 15 px luft till vänster i ul */
ul.meny {
  padding-left: 15px;
  padding-right: 0;
}

/* Attributer för bläddring av sidor SK pagination-navigering */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #263777;
  background-color: #ffcc33;
  border-color: #ffcc33;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffcc33;
  cursor: default;
  background-color: #263777;
  border-color: #263777;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

/* Feedback varningsfärg gul */
.text-yellow {
  color: #ffcc33;
}

/* Karusell för sponsorbilder */
#myCarousel {
height: 275px;
width: auto;
margin-left: auto;
margin-right: auto;
background-color: white;
}

/* Text-storlek 9 pixlar grå färg för datum och tidvisning */
/* i nyhetsmenyn till vänster på index-sidan */
.tid-nyheter {
  font-size: 9px;
  color: #aaa;
}

.tid-nyheter-arkiv {
  color: #aaa;
  margin-left: 0;
  margin-right: 15px;
}

/* Ingen luft till vänster */
.sans-padding-left {
padding-left: 0;
padding-right:auto;
 }

/* Ingen luft till vänster och höger */ 
.sans-padding {
padding-left: 0;
padding-right:0;
 }

/* Ingen luft till höger */
.sans-padding-right {
padding-left: auto;
padding-right:0;
 }

/* luft 15 pixlar till vänster och höger */
p.padding-15px {
  padding-left: 15px;
  padding-right: 15px;
}

/* Botten av ul list */
ul.bottom {
  margin-right:auto;
  margin-left:auto;
  list-style-type: none;
  padding: 40px;
  margin: 0px;
  vertical-align:-90px;
  display:inline-block;
}

/* Luft 15 pixlar höger, vänster, upp och ned */
.padding {
  padding: 15px;
}
.padding-zero {
  padding: none;
}

/* luft i överste navigeringsmenyn, 5 pixlar höger och vänster, ingen upp och ned */
.padding-form {
  padding-top: 0;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom:0;
}

/* container div */
#container {
  position:absolute;
  margin-top: 0px;
  width:100%;
  margin-right: auto;
  margin-left: auto;
}

/* header div */
#header {
  z-index: 1000;
  position:fixed;
  background-color: #263777;
  top: 45px;
  height: 48px;
  width: 100%;
  padding: 0px;
  border-radius: 0 0 10px 10px;
  border-color: #ffcc33;
  border: 1px solid #ffcc33;
}

/* Navigerings-menyn med bakgrunds-bild */
.navbar-default {
  top:0px;
  position:fixed;
  width: 100%;
  border-radius: 0 0 10px 10px; 
  border-color: #ffcc33;
  background-image:url("../img/logo-forbund2.jpg");
  background-repeat:no-repeat;
  background-position:center top; 
}

/* Småbilder 64 pixlar i höjd och bredd */
img-64px{
  height: 64px;
  width: 64px;
}

/* Artikel-bild 100 procent i bredden och 15 pixlar luft nederst */
img.img-100x {
  position: relative;
  width:100%;
  padding-bottom: 15px; 
}

/* Artikel-bild 100 procent i bredden och 15 pixlar luft nederst */
img.img-100y {
  position: relative;
  height:100%;
  padding-bottom: 15px; 
}
/* Artikel Bild max höjd 350 pixlar */
div .img-artikel {
  max-height:350px;
  overflow:hidden;
}


/* Klass till dropdown-meny med linär bakgrund från grå till vit */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  /*z-index: 1000;*/
  display: none;
  float: left;
  min-width: 160px;
  padding: 3px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background: -webkit-linear-gradient(-15deg, #f9f9f9, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-15deg, #f9f9f9, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-15deg, #f9f9f9, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-15deg, #f9f9f9, #fff); /* Standard syntax (must be last) */
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* Undermeny i header */
.undermeny {
  top: 40px;
  width:100%;
  vertical-align: middle;
}

/* Gula länkor i undermeny */
.yellow a.li:link,a.li:link,a.li:active,a.li:hover,a.li:visited {color: #ffcc33; }

.undermeny-form {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

/* Sökrutan */
.undermeny-search {
  width: 350px;
  padding-right: 30px;
  vertical-align: middle;
  border: none; 
}

/* Sök-rutans bredd i pixlar */
#search-size {
  width: 270px;
}

/* responsivitet för mobila enheter */
@media (max-width: 1276px) {

  /* Sökrutan */
  .undermeny-search {
  width: 300px;
  padding-right: 30px;
  vertical-align: middle;
  border: none;
  }

  /* Sök-rutans bredd i pixlar */
  #search-size {
    width: 230px;
  }

}

/* responsivitet för mobila enheter */
@media (max-width: @screen-xs-max) {
  
  /* Sökrutan */
  .undermeny-search {
  width: 300px;
  border: none;
  float:right;
  margin-right: 30px;
  padding-left: none;
  }

  /* Sök-rutans bredd i pixlar */
  #search-size {
    width: 230px;
  }

}

/* Sök-knappen högre om sök-rutan*/
.btn-search {
  background-color: #ffcc33;
  margin-top: 2px;
  height:27px;
  display: inline-block;
  padding: 5px 10px;
  white-space: nowrap;
  vertical-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 8px;
}

.btn-search:focus,
.btn-search:active:focus,
.btn-search.active:focus {
color: #ffcc33;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-search:hover,
.btn-search:focus {
  color: #ffcc33;
  text-decoration: none;
  background-color: #263777;
  border-color: #ffcc33;
}
.btn-search:active,
.btn-search.active {
  color: #ffcc33;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* innehåll */
#content {
  z-index:-1;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  min-height: 400px;
  padding: 15px;
  background-color: white;
}

/* */
.navbar {
  z-index:1000;
  background-color: #fff;
}

/* Footer klass */
.footer {
  background-color: #263777;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  min-height: 50px;
  width: 100%;
  padding: 25px;
  bottom: 0px;
  border-radius: 10px 10px 0 0;
  color: #ffcc33;
  clear: both;
  border: 1px solid #ffcc33;
}

/* Listed vita länkar */
.white a.li:link,a.li:active,a.li:hover,a.li:visited {color: #fff; }

/* Listed gula länkar */
.yellow a.li:link,a.li:link,a.li:active,a.li:hover,a.li:visited {color: #ffcc33; }


/* Textstorlek 10 pixlar */
.text-10px {
  font-size: 10px;
}

/* Ingen ram */
.border-none {
  border: none;
}

/* Vit text-/ikonfärg */
.white {
  color:#fff;
}

.bold {
  font-weight: 600;
}

/* Svart text-/ikonfärg */
.black {
  color: #111;
}

/* Gul text-/ikonfärg */
.yellow {
  color: #ffcc33;
}

/* Blå text-/ikonfärg */
.blue {
  color: #263777;
}

/* Blå text bytar färg till gul vid aktivitet exempelvis pekar med musen på den */
.blue:active,
.blue.active {
  color: #ffcc33;
} 

.fixed {
  position:fixed;
}

/* List i div attribut */
div.li {
  display: inline;
  list-style-type: none;
  padding: 15px;
  margin: 0px;
  vertical-align:-90px; 
}

/* Dropdown-meny .divider klass (bakgrundsfärgen när musen förs över topmeny-val */

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #fff;
  background: -webkit-linear-gradient(left, #ffcc33, white, #ffcc33); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ffcc33, white, #ffcc33); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ffcc33, white, #ffcc33); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffcc33, white, #ffcc33); /* Standard syntax (must be last) */
  opacity:0.4; /* transparency */  
  filter:alpha(opacity=40); /* IE transparency */  
}

/* Panel med skugga */
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
          box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

/* Panel Rubrik */
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Panel footer */
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  bottom: 0;
}

/* Panel gul */
.panel-yellow {
  border-color: #ddd;
}

/* Panel Gul > Panel Rubrik */
.panel-yellow > .panel-heading {
  color: #263777;
  background-color: #ffcc33;
  border-color: #ffcc33;
}
.panel-yellow > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ffcc33;
}
.panel-yellow > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
}

/* Panel Blå */
.panel-blue {
  border-color: #ddd;
}

/* Panel Blå > Panel Rubrik */
.panel-blue > .panel-heading {
  color: #ffcc33;
  background-color: #263777;
  border-color: #263777;
}
.panel-blue > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #263777;
}
.panel-blue > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
}

/* Panel Grå */
.panel-grey {
  border-color: #ddd;
}

/* Panel Grå > Panel Rubrik */
.panel-grey > .panel-heading {
  color: #000;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}
.panel-grey > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #f5f5f5;
}
.panel-grey > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ddd;
}

/* Sökform attributer */
.navbar-form {
  height: 30px;
  padding: 10px 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

/* Generell Form med ingen margin överst */
.form-group {
margin-top:0px;
vertical-align:center;
  /*margin-left:-15px;*/
}

/* Form attributer med gul kant och runda hörn */
.form-control {
  margin-top: 2px;
  vertical-align:center;
  display: block;
  width: 100%;
  height: 27px;
  padding-top:3px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ffcc33;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Form-rutans utseende när den är aktiv */
.form-control:focus {
  border-color: yellow;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(102, 175, 233, .9);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(102, 175, 233, .9);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

/* Gul knapp med blå text */
.btn-yellow {
background-color: #ffcc33;
color: #263777;
}

/* Blå knapp med gul text */
.btn-blue{
  background-color: #263777;
  color: #ffcc33;
  border-color: #ffcc33;
}

/* Gul knapp hover och focus */
.btn-yellow:hover,
.btn-yellow:focus {
  color: #ffcc33;
  background-color: #263777;
  font-style:bold;
  text-decoration: none;
}

/* Blå knapp hover och focus */
.btn-blue:hover,
.btn-blue:focus {
  color: #263777;
  background-color: #ffcc33;
  font-style:strong;
  text-decoration: none;
  text-align:center;
}

/* Knapp ändrar bakgrundsfärg till gul när musen svävar över den */
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ffcc33;
  border-color: #adadad;
}

/* Vis inte cirkel symbol i unordered list */
ul {
    list-style-type: none;
    margin-left: 0;
}